.App {
  text-align: center;
}

.card {
  margin-bottom: 5%;
}

.cardDarkMode {
  background-color: black;
  border: 1px solid black;
}

.DarkMode {
  background-color: #222;
  color: gainsboro;
}

.MovieGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  viewport-fit: 90%;
  margin: 5%;
}